@charset "UTF-8";
/* Reset css*/
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, Arial, "微软雅黑", "宋体";
  font-size: 12px;
  color: #434343;
}

body {
  _overflow: auto;
  _height: 100%;
  margin: 0 auto;
}

html {
  _overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-variant: normal;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, sans-serif;
  vertical-align: middle;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  zoom: 1;
}

/*a*/
a {
  text-decoration: none !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, Arial, "微软雅黑", "宋体";
  font-size: 12px;
  color: #434343;
  background-color: #fff;
}

body {
  _overflow: auto;
  _height: 100%;
  margin: 0 auto;
}

html {
  _overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-variant: normal;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, sans-serif;
  vertical-align: middle;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  zoom: 1;
}

/*Vue渲染时，清除{{}}显示*/
[v-cloak] {
  display: none;
}

/*a*/
a {
  text-decoration: none;
}

/* 设置滚动条的样式 */
.RemoveScrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* 滚动槽 */
.RemoveScrollbar::-webkit-scrollbar-track {
  height: 0;
}

/*清除IOS overflow:scroll与overflow:auto 的滚动卡顿*/
.RemoveRollCar {
  -webkit-overflow-scrolling: touch;
}

/*两行省略*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*一行省略*/
.one_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table {
  display: table;
}

.table_cell {
  display: table-cell;
  vertical-align: middle;
}

textarea {
  resize: none;
}

a:hover {
  text-decoration: none;
}

input[type="radio"] {
  margin: 3px 3px 0px 5px;
  display: none;
}

.weui-toast {
  top: 45% !important;
  margin-left: 0 !important;
}

.weui-icon_toast.weui-loading {
  margin: 30px 0 0;
  width: 1em !important;
  height: 1em !important;
  vertical-align: baseline;
}

a {
  width: 100%;
  height: 100%;
}

.weui-toast_content {
  line-height: 3em;
}

html {
  height: 100%;
  background-color: #f5f5f5;
  background: #f5f5f5;
}

img,
input {
  border: none;
}

p {
  line-height: 1;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0rem;
  -webkit-margin-end: 0rem;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

#model {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.load {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #ece8de;
}

.load img {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 8.77333rem;
  height: 6.57333rem;
  margin-top: -3.28rem;
  margin-left: -4.38667rem;
}

.section_fitst {
  background: url("../images/section_1.png") no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  position: relative;
}

.section_fitst .page1_video_1 {
  width: 8.10667rem;
  height: 5.24rem;
  position: absolute;
  top: 6.4rem;
  left: 50%;
  margin-left: -4.18667rem;
  z-index: 2;
  opacity: 1;
}

.section_fitst .page1_video_2 {
  width: 8.10667rem;
  height: 5.24rem;
  position: absolute;
  top: 6.26667rem;
  left: 50%;
  margin-left: -4rem;
  z-index: 4;
  opacity: 1;
}

.section_fitst .page1_video_3 {
  width: 4.46667rem;
  height: 1.77333rem;
  position: absolute;
  top: 7.62667rem;
  left: 50%;
  margin-left: -2.22667rem;
  z-index: 6;
  opacity: 1;
}

.section_fitst .page1_cl_1 {
  width: 1.65333rem;
  height: 1.65333rem;
  position: absolute;
  top: 7.76rem;
  left: 50%;
  margin-left: -2.16rem;
  z-index: 5;
  opacity: 1;
}

.section_fitst .page1_cl_2 {
  width: 1.65333rem;
  height: 1.65333rem;
  position: absolute;
  top: 7.76rem;
  left: 50%;
  margin-left: 0.82667rem;
  z-index: 5;
  opacity: 1;
}

.section_fitst .page1_jiantou {
  width: 1.70667rem;
  height: 1.70667rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -0.85333rem;
  display: none;
  z-index: 10;
  animation: jiantouup 1s linear 0s infinite;
}

.section_fitst .page1_cl_active {
  animation: hovertreespin 3s linear 0s infinite;
}

.section_fitst p {
  width: 100%;
  text-align: center;
  font-size: 2.24rem;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 2.45333rem;
}

.section_fitst p i {
  color: #2be7ef;
  font-style: normal;
}

.section_fitst .page1_bg {
  position: absolute;
  top: 4rem;
  right: 0.90667rem;
  width: 6rem;
  height: 10.21333rem;
  z-index: 1;
}

.section_fitst a {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0.86667rem;
  left: 50%;
  margin-left: -85px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  z-index: 3;
}

.section_fitst a img {
  width: 2.28rem;
  height: 3rem;
  z-index: 2;
}

.section_fitst a audio {
  opacity: 0;
}

.audiolast {
  position: fixed;
  left: -50%;
  bottom: 0;
}

.clickaudio {
  position: fixed;
  left: -50%;
  bottom: 0;
}

.section_two {
  background: url("../images/section_2.png") no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  position: relative;
}

.section_two .page2_left {
  position: absolute;
  top: 2.50667rem;
  left: 1.30667rem;
}

.section_two .page2_left span {
  display: block;
  font-size: 1.09333rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0.32rem;
}

.section_two .page2_left span:nth-of-type(1) {
  color: #00c9ff;
}

.section_two .page2_top {
  position: absolute;
  top: 2.50667rem;
  left: 3.06667rem;
}

.section_two .page2_top span {
  display: block;
  font-size: 1.09333rem;
  color: #fff;
  font-weight: 700;
}

.section_two .page2_right {
  position: absolute;
  top: 4.8rem;
  left: 2.77333rem;
  width: 5.16rem;
  height: 2.53333rem;
  transform: scale(10, 10);
}

.section_two .page2_bottom {
  position: absolute;
  top: 7.81333rem;
  left: 1.30667rem;
}

.section_two .page2_bottom span {
  display: block;
  height: 0.98667rem;
  overflow: hidden;
  width: 0;
  font-size: 0.98667rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.13333rem;
  line-height: 1;
}

.section_two .page2_video {
  width: 8.64rem;
  height: 5.86667rem;
  position: absolute;
  bottom: 0.77333rem;
  left: 50%;
  margin-left: -4.45333rem;
  opacity: 0;
}

.section_two .page2_video video {
  width: 8.64rem;
  height: 5.6rem;
  opacity: 0;
}

.current .page2_video {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.current .page2_video video {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.current .page2_bottom span {
  animation: movepage 2.5s 0.8s steps(9) forwards;
}

.current .page2_right {
  transform: scale(1, 1);
  transition: all .5s ease-in-out;
}

.section_three {
  background: url("../images/section_3.png") no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  position: relative;
}

.section_three .page3_1 {
  position: absolute;
  top: 3.22667rem;
  right: 2.4rem;
}

.section_three .page3_1 span {
  display: block;
  margin-bottom: 0.16rem;
  color: #f5e011;
  font-weight: normal;
  font-size: 0.74667rem;
  line-height: 1;
}

.section_three .page3_2 {
  position: absolute;
  width: 1.10667rem;
  height: 3.24rem;
  top: 3.30667rem;
  right: 0.93333rem;
}

.section_three .page3_4 {
  position: absolute;
  width: 3.54667rem;
  height: 1.14667rem;
  top: 7.65333rem;
  right: 0.93333rem;
}

.section_three .page3_3 {
  position: absolute;
  width: 6.69333rem;
  height: 1.49333rem;
  top: 9.12rem;
  right: 0.93333rem;
}

.section_three .page3_5 {
  position: absolute;
  font-weight: 700;
  font-size: 0.93333rem;
  color: #14dc51;
  right: 0.93333rem;
  top: 11.22667rem;
}

.section_three .page3_6 {
  position: absolute;
  font-weight: normal;
  font-size: 0.74667rem;
  color: #000;
  right: 0.93333rem;
  top: 12.88rem;
}

.current .page3_5 {
  animation: bigsmall .8s 1.5s linear;
}

.section_four {
  background: url("../images/section_4.png") no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  position: relative;
}

.section_four .page4_1 {
  position: absolute;
  font-size: 0.6rem;
  color: #fff;
  line-height: 1;
  font-weight: normal;
  top: 4.53333rem;
  left: -3.33333rem;
  opacity: .8;
  letter-spacing: 0.05333rem;
}

.section_four .page4_2 {
  position: absolute;
  font-size: 1.01333rem;
  color: #fff;
  font-weight: normal;
  line-height: 1;
  top: 3.38667rem;
  right: 1.06667rem;
}

.section_four .page4_3 {
  position: absolute;
  font-size: 0.82667rem;
  color: #4ebb50;
  line-height: 1;
  top: 5.28rem;
  right: 1.06667rem;
}

.section_four .page4_4 {
  position: absolute;
  font-size: 0rem;
  color: #fff;
  line-height: 1;
  top: 7.06667rem;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.section_four .page4_5 {
  position: absolute;
  width: 1.05333rem;
  height: 3.18667rem;
  top: 9.54667rem;
  left: 1.12rem;
}

.section_four .page4_6 {
  position: absolute;
  font-size: 0.64rem;
  color: #14bd51;
  line-height: 1;
  font-weight: normal;
  top: 9.54667rem;
  left: 2.50667rem;
}

.section_four .page4_7 {
  position: absolute;
  font-size: 0.93333rem;
  color: #fff;
  line-height: 1;
  opacity: .8;
  font-weight: normal;
  top: 10.61333rem;
  left: 2.50667rem;
}

.section_four .page4_8 {
  position: absolute;
  font-size: 1.14667rem;
  color: #f5e010;
  line-height: 1;
  opacity: 1;
  font-weight: normal;
  top: 11.81333rem;
  left: 2.50667rem;
  font-weight: 600;
}

.section_four .page4_9 {
  position: absolute;
  font-size: 0.69333rem;
  color: #fff;
  right: -4rem;
  top: 9.54667rem;
  line-height: 1;
  font-weight: normal;
}

.current .page4_1 {
  left: 3.73333rem;
  transition: all .5s ease-in-out;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* Internet Explorer */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
}

.current .page4_4 {
  transition: all .4s .8s linear;
  font-size: 1.54667rem;
  opacity: 1;
}

.current .page4_9 {
  transition: all .5s 2s ease;
  right: 1.06667rem;
}

.section_five {
  background: url("../images/section_5.png") no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  position: relative;
}

.section_five .page5_1 {
  position: absolute;
  top: 2.85333rem;
  width: 100%;
  text-align: center;
  color: #fff;
}

.section_five .page5_1 i {
  font-size: 3.2rem;
  text-shadow: 2px 3px 19px #000;
  font-style: normal;
}

.section_five .page5_2 {
  position: absolute;
  top: 6.42667rem;
  left: 2rem;
  width: 3.73333rem;
  height: 0.56rem;
  transform: scale(20, 20);
}

.section_five .page5_3 {
  position: absolute;
  width: 3.82667rem;
  height: 4.26667rem;
  z-index: 2;
  top: 5.46667rem;
  right: -5.33333rem;
}

.section_five .page5_4 {
  position: absolute;
  z-index: 2;
  top: 8.98667rem;
  left: 1.17333rem;
  color: #fff;
  text-shadow: 2px 3px 19px #000;
  font-size: 3.2rem;
}

.section_five .page5_5 {
  position: absolute;
  top: 8.21333rem;
  left: 3.89333rem;
  color: #fff;
  text-shadow: 2px 3px 19px #000;
  font-size: 3.2rem;
}

.section_five .page5_6 {
  position: absolute;
  width: 5.01333rem;
  height: 0.56rem;
  top: 12.34667rem;
  right: 0.42667rem;
  transform: scale(20, 20);
}

.current .page5_2 {
  transform: scale(1, 1);
  transition: all .5s linear;
}

.current .page5_3 {
  right: 0;
  transition: all 2s 2s linear;
}

.current .page5_6 {
  transform: scale(1, 1);
  transition: all .5s linear;
}

.section_six {
  background: url("../images/section_6.png") no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  position: relative;
}

.section_six .page6_1 {
  width: 7.41333rem;
  height: 5.33333rem;
  position: absolute;
  left: 50%;
  margin-left: -3.70667rem;
  top: 0.85333rem;
  transform: scale(10, 10);
}

.section_six .page6_2 {
  width: 9.57333rem;
  height: 16.41333rem;
  position: absolute;
  left: 50%;
  margin-left: -4.78667rem;
  top: 0rem;
  display: none;
}

.section_six .page6_3 {
  width: 7.32rem;
  height: 5.21333rem;
  position: absolute;
  left: 50%;
  margin-left: -2.8rem;
  top: 7.13333rem;
  display: none;
}

.section_six .page6_4 {
  width: 6.41333rem;
  height: 4.73333rem;
  position: absolute;
  left: 50%;
  margin-left: -4rem;
  top: 10.4rem;
  display: none;
}

.current .page6_1 {
  display: block;
  transition: all .4s linear;
  transform: scale(1, 1);
}

.current .page6_2 {
  -webkit-animation: show1 .4s  ease-out;
  -moz-animation: show1 .4s  ease-out;
  -o-animation: show1 .4s  ease-out;
  -ms-animation: show1 .4s  ease-out;
  animation: show1 .4s  ease-out;
}

.current .page6_3 {
  -webkit-animation: show1 .4s  ease-out;
  -moz-animation: show1 .4s  ease-out;
  -o-animation: show1 .4s  ease-out;
  -ms-animation: show1 .4s  ease-out;
  animation: show1 .4s  ease-out;
}

.current .page6_4 {
  -webkit-animation: show1 .4s  ease-out;
  -moz-animation: show1 .4s  ease-out;
  -o-animation: show1 .4s  ease-out;
  -ms-animation: show1 .4s  ease-out;
  animation: show1 .4s  ease-out;
}

.section_last {
  background: url("../images/section_7.png") no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  position: relative;
}

.section_last .page7_child {
  width: 11.24rem;
  height: 6.88rem;
  position: absolute;
  bottom: -6.66667rem;
  right: -7.73333rem;
}

.section_last .page7_want {
  width: 7.97333rem;
  height: 4.2rem;
  position: absolute;
  top: 1.81333rem;
  left: 50%;
  margin-left: -3.98667rem;
}

.section_last .page7_p {
  width: 0;
  height: 0.77333rem;
  overflow: hidden;
  line-height: 1;
  font-size: 0.77333rem;
  font-weight: 600;
  color: #00c9ff;
  position: absolute;
  left: 50%;
  margin-left: -3.64rem;
  top: 6.93333rem;
}

.section_last .page7_erwei {
  width: 2.33333rem;
  height: 3.34667rem;
  position: absolute;
  bottom: 1.04rem;
  left: 1.04rem;
}

.current .page7_child {
  transition: all .4s linear;
  bottom: 0;
  right: -2.4rem;
}

.current .page7_p {
  animation: move 2s 0.4s steps(9) forwards;
}

/*以下定义动画帧*/
@-webkit-keyframes glow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.4, 1.4);
  }
}

@-moz-keyframes glow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.4, 1.4);
  }
}

@-o-keyframes glow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.4, 1.4);
  }
}

@-ms-keyframes glow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.4, 1.4);
  }
}

@keyframes glow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.4, 1.4);
  }
}

@keyframes show1 {
  0% {
    display: block;
    transform: scale(10, 10);
  }
  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes show1 {
  0% {
    display: block;
    transform: scale(10, 10);
  }
  100% {
    transform: scale(1, 1);
  }
}

@-moz-keyframes show1 {
  0% {
    display: block;
    transform: scale(10, 10);
  }
  100% {
    transform: scale(1, 1);
  }
}

@-o-keyframes show1 {
  0% {
    display: block;
    transform: scale(10, 10);
  }
  100% {
    transform: scale(1, 1);
  }
}

@-ms-keyframes show1 {
  0% {
    display: block;
    transform: scale(10, 10);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes move {
  0% {
    width: 0px;
  }
  100% {
    width: 7.28rem;
  }
}

@-webkit-keyframes move {
  0% {
    width: 0px;
  }
  100% {
    width: 7.28rem;
  }
}

@-moz-keyframes move {
  0% {
    width: 0px;
  }
  100% {
    width: 7.28rem;
  }
}

@-o-keyframes move {
  0% {
    width: 0px;
  }
  100% {
    width: 7.28rem;
  }
}

@-ms-keyframes move {
  0% {
    width: 0px;
  }
  100% {
    width: 7.28rem;
  }
}

@keyframes hovertreespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bigsmall {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(3, 3);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes jiantouup {
  0% {
    bottom: 0rem;
  }
  100% {
    bottom: 0.26667rem;
  }
}

@keyframes movepage {
  0% {
    width: 0px;
  }
  100% {
    width: 7.62667rem;
  }
}

@-webkit-keyframes movepage {
  0% {
    width: 0px;
  }
  100% {
    width: 7.62667rem;
  }
}

@-moz-keyframes movepage {
  0% {
    width: 0px;
  }
  100% {
    width: 7.62667rem;
  }
}

@-o-keyframes movepage {
  0% {
    width: 0px;
  }
  100% {
    width: 7.62667rem;
  }
}

@-ms-keyframes movepage {
  0% {
    width: 0px;
  }
  100% {
    width: 7.62667rem;
  }
}
